@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-color: #f7f9f9;
	--color-text: #302f34;
}
.main-container {
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template: repeat(10, 10%) / repeat(10, 10%);
}
/* Header */
.header-container,
.footer-container {
	font-family: "Nunito", "sans-serif";
	font-size: 10px;
	display: grid;
	grid-template: 100% / repeat(10, 10%);
	grid-area: 1/1/1/11;
}
.header-container ul,
.footer-container ul {
	grid-area: 1/9/1/11;
	display: flex;
	align-items: center;
	justify-content: center;
	list-style-type: none;
	gap: 15px;
}
.header-container a {
	text-decoration: none;
	color: var(--color-text);
}
#logo {
	width: 28px;
	border-radius: 12px;
}
/*Content*/
.content-container {
	grid-area: 2/1/10/11;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.card {
	background-color: #f7f7f7;
	border-radius: 10px;
	width: 350px;
	height: calc(auto+10px);
	display: flex;
	padding: 2px;
	padding: 8px 10px;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.tweet-text,
.tweet-user,
.tweet-icons {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	font-size: 13px;
	color: #0f1419;
	line-height: 20px;
	vertical-align: baseline;
	letter-spacing: normal;
	word-spacing: 0px;
	font-weight: 400;
	text-decoration: none solid rgb(15, 20, 25);
}
#username {
	color: #0f1419;
	font-weight: 700;
	display: flex;
}
#username div {
	width: auto;
	display: flex;
	align-items: center;
	gap: 1px;
}
#username svg {
	width: 14px;
	fill: #1da1f2;
}
.tweet-user,
.tweet-icons {
	line-height: 20px;
	font-size: 12px;
	display: flex;
}
.tweet-user ul {
	color: #536471;
	order: 2;
	display: flex;
	align-items: center;
	list-style: none;
	gap: 3px;
}
.tweet-icons {
	font-size: 11px;
	line-height: 16px;
	justify-content: space-between;
	margin-top: 8px;
	margin-bottom: 8px;
	padding-right: 30px;
}
.tweet-icons > div {
	display: flex;
	gap: 5px;
	align-items: center;
}
.tweet-icons svg {
	width: 13px;
}
.profile-container {
	margin-right: 12px;
	padding-top: 4px;
}
.tweet-content {
	width: 100%;
}
/*Footer */
.footer-container {
	grid-area: 10/1/10/11;
}
.footer-container a {
	text-decoration: none;
	color: var(--color-text);
}
/* Media query */
@media only screen and(max-width:500px) {
	
	
}